
<body>

<div class="ui_container">
    <div class="leftcolumn">
        <a href=""><img src="/icons/lastpage.svg"  alt="play" class=""></a>
    </div>
    


    <div class="rightcolumn web">

        <div class="box_small" id="warmup">
            <div class="lessoninfo">
                <div class="info">
                    <h1> Warm Up</h1>
                    <p>Beginner | 5 mins</p>

                    <h5>Last Score: B+</h5>
                </div>
                <a href=""><div class="play_small"><img src="/icons/play2.svg"  alt="play" class="playicon_small"></div></a>
            </div>
        </div>


        <div class="box_small" id="warmup">
            <div class="lessoninfo">
                <div class="info">
                    <h1> Kicks</h1>
                    <p>Beginner | 5 mins</p>

                    <h5>Last Score: B+</h5>
                </div>
                <a href=""><div class="play_small"><img src="/icons/play2.svg"  alt="play" class="playicon_small"></div></a>
            </div>
        </div>

        <div class="box_small" id="warmup">
            <div class="lessoninfo">
                <div class="info">
                    <h1>Arms</h1>
                    <p>Beginner | 5 mins</p>

                    <h5>Last Score: B+</h5>
                </div>
                <a href=""><div class="play_small"><img src="/icons/play2.svg"  alt="play" class="playicon_small"></div></a>
            </div>
        </div>

        <div class="box_small" id="warmup">
            <div class="lessoninfo">
                <div class="info">
                    <h1>Throws</h1>
                    <p>Beginner | 5 mins</p>

                    <h5>Last Score: B+</h5>
                </div>
                <a href=""><div class="play_small"><img src="/icons/play2.svg"  alt="play" class="playicon_small"></div></a>
            </div>
        </div>

    </div>

</div>




<footer class="camerafooter">
    <div class="centercolumn">
        <a href=""><img src="/icons/back.svg"  alt="home" class="navicon"></a>
        <a href="ready.html" class="recording"><div class="recordbutton"></div>
             <h4>Stretching 1/15</h4>
            <h4><strong>1:30</strong> / 5:00</h4>
        </a>
        <a href=""><img src="/icons/right.svg"  alt="user" class="navicon"></a>
        
    </div>  
   
</footer>
</body>
