

<body>


<div class="homecontainer">

    <div class="container">
    
    <div class="loginarea">
        <div class="loginareatwo">
        <img src="icons/logo.svg"  alt="home" class="logo">
       <div class="wordlogo"> <img src="icons/wordlogo.svg"  alt="home"></div>
        <h2>Exercise & Learn <br> Karate. We'll make <br>sure if you're in the<br>  correct form</h2>
        
        
        <a href="/login"><div class="mainbutton loginbutton">Login</div></a>
        <div class="secondarybutton signbutton">Sign Up</div>
    </div>
    </div>
</div>

</div>

</body>

