<body class="pattern"> 

<div class="homecontainer">

        <div class="container">

        <div class="loading_con">
            <div class="loading">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
               
            </div>
            
        </div>  

        
        <div class="box_notify">
            <h1>Did You Know?</h1>
            <p>Jackie Chan once broke 12 cement<br> blocks with a fist holding an egg</p>
        </div>


    </div>

</div>

<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/play";
  }, 2000)
</script>


</body>