

<body>


<div class="homecontainer">

    <div class="container">
    
    <div class="loginarea">
        <div class="loginareatwo">
        <img src="icons/logo.svg"  alt="home" class="logo">
       <div class="wordlogo"> <img src="icons/wordlogo.svg"  alt="home"></div>
        <h2>Exercise & Learn <br> Karate. We'll make <br>sure if you're in the<br>  correct form</h2>
        
    <div class="fillin">
        <input type="text" name="username" placeholder="Username" class="fill" required>
        <input type="password" name="password" placeholder="Password" required>
        <a href="/play"><div class="loginin">Login</div></a>
    </div>
       
    </div>
    </div>

        

</div>

</div>

</body>

