<body class="pattern"> 
<div class="homecontainer">
        <div class="container">
        <div class="box_notify">
            <h1>Ready to see<br> your <strong>Score?</strong></h1>
        </div>

        <div class="button_holder">
            <a href="/loading"><div class="mainbutton">Yes</div>
            <a href="/camera"><div class="secondarybutton">No</div></a>
        </div>
    </div>
</div>