
<body class="pattern"> 
<div class="homecontainer">
        <div class="container">
        <div class="box_notify">
            <h1 class="score">B-</h1>
            <h2>Accuracy: 76%</h2>
            <h1><strong>15 Pts</strong> Earned</h1>
        </div>

        <div class="button_holder">
            <a href="home.html"><div class="mainbutton">Done</div>
            <a href="index.html"><div class="secondarybutton">Try Again</div></a>
        </div>
    </div>
</div>