<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <h4 style="font-weight:bold">&copy; Jason Eddy N'Guessan</h4>
    <div style="text-align: right;">
      <a href="https://www.linkedin.com/in/jasonguessan/">
        <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
      </a>
      &ensp; &ensp;

      <a href="https://github.com/Ifavhoney">
        <i
          class="fa fa-github-alt fa-3x "
          style="color:rgb(27, 14, 14); "
          aria-hidden="true"
        ></i>
      </a>
    </div>
  </nav>
</footer>

<!-- #region JavaScipt Section -->
<!-- Allows for the animate.css to work on Scrolling with the WOW tag -->
 <script src="/wowjs/dist/wow.min.js"></script>
  <script> 
  new  WOW().init();
  </script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>
</html>
<!-- #endregion -->
