<% include ./partials/constant/header.ejs %>

<div class = "center-screen">

  <body tabindex="0">
    <!--For Easel.js-->
  <canvas id = "myCanvas", width="1000", height="1000"> </canvas>

  </body>
  
    </div>

<% include ./partials/constant/footer.ejs %>
